.account {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.favorites {
  cursor: pointer;
}

.account svg {
  color: #bababa;
  width: 28px;
  height: 28px;
}
.account svg:hover {
  color: var(--violet-dark);
}

.count {
  position: absolute;
  width: 17px;
  height: 16px;
  background: var(--violet);
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 15px;
  color: var(--light);
  text-align: center;
  line-height: 16px;
}