.form {
  margin-top: 24px;
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 16px;
}

.group input {
  width: 100%;
  background: #212123;
  border-radius: 8px;
  color: var(--light);
  padding: 12px 24px;
}

.submit {
  font-weight: 500;
  line-height: 20px;
}

.link {
  font-size: 13px;
  color: var(--dark-sea);
  cursor: pointer;
  text-align: center;
}

.link:hover {
  color: var(--light);
}
